<style>
  pre {
    background: #eee;
    padding: 5px;
    display: inline;
  }
  div {
    margin-bottom: 5px;
  }
</style>

<h1>Webhook-relay</h1>

<p>This is a simple tool to relay webhooks to another endpoint with a certain transformation. Many webhook endpoint requre a certain url format, with dynamic variables embedded, while the producers of the webhooks do not support dynamic webhook urls. Therefore, you can use this tool to include dynamic variables in the target webhook url.</p>

<div>
  To relay a webhook, point it to <pre>/api</pre> of this host.
</div>
<div>
  Add a query param <pre>?dest=</pre>, where you fill in your desination url.
</div>
<div>
  The desitination url can then inculde variables that the origin sent in JSON for example, by prefixing the variable names with <pre>$</pre>
</div>

<div>
  For example, <pre>/api?dest=https://usX.api.mailchimp.com/3.0/automations/$user_id/emails/$list/queue</pre> will fill in the <pre>$user_id</pre> with the <pre>user_id</pre> of the post data, and <pre>$list</pre> with the <pre>list</pre> variable in post data.
</div>

